<%
  base_class = "product-availability".freeze

  # Optional props
  classes = local_assigns.fetch(:classes, [])

  # Classes
  class_names = classes.push(base_class).join(" ")
%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        
        input {
            width: 300px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            font-size: 16px;
            outline: none;
            transition: box-shadow 0.3s ease-in-out;
        }

        input:focus {
            box-shadow: 0 0 10px rgba(33, 150, 243, 0.7);
        }

        ::placeholder {
            color: #ccc;
        }

        button {
            /* margin-top: 10px; */
            padding: 10px 20px;
            background-color: #3c76f0;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease-in-out;
        }

        button:hover {
            background-color: #1565C0;
        }
    </style>
</head>

<label for="pinCode" style="margin-right: 10px;">Check Pin Code Availability:</label>
<div style="display: flex; align-items: center;">
  <input type="text" id="pinCode" name="pinCode" placeholder="Enter Pin Code">
  <button type="button" onclick="checkAvailability()" style="margin-left: 10px;">Check</button>
</div><br>

<% if product.master.can_supply? %>
  <link itemprop="availability" href="http://schema.org/InStock" />
<% elsif product.variants.empty? %>
  <span
    class="<%= class_names %>"
    itemprop="availability"
    href="http://schema.org/OutOfStock"
  >
    <%= t('spree.out_of_stock') %>
  </span>
<% end %>
