    <div class="hero__message">
      <h1 class="hero-title">
        <%# Home / Collection All %>
      </h1>
    </div>

<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <p class="hero-title">
        <%# <b>Collection All</b> %>
      </p>
    </div>
  </div>
</section>


