.hero {
  // background: $color-background-dark;
  background-image: url("https://floryo.com/cdn/shop/files/Daliya_Banner_Long_long_banner_1__miscbanner_1440_404.png?v=1697809169");
  color: $color-copy-bright;
  padding: 15rem 0;

  &__container {
    @extend %section-spacings;
    display: flex;
  }
}
